.background {
    width: 100%;
    height: 100vh;
    background-color: var(--main-color);
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.background::after {
    position : absolute;
    content : '';
    width: 400px;
    height: 800px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,7db9e8+100&1+0,0+100 */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
    opacity: 0.1;
    left : 0;
    bottom : 0;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
}

.background::before {
    position : absolute;
    content : '';
    width: 400px;
    height: 800px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,7db9e8+100&1+0,0+100 */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
    opacity: 0.1;
    right : 0;
    top : 0;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    animation-name: iddling;
    animation-duration: 1s;
    transition: all 1s;
}

@media (prefers-reduced-motion: no-preference) {
    .background::before, .background::after {
      animation: iddling infinite 20s linear;
      animation-direction: alternate-reverse;
    }
    .logo-banner {
        animation : bouncing infinite 2s linear;
        animation-direction: alternate-reverse;
        animation-delay: 100ms;
    }
    .logo-banner-shadow {
        animation: shrink infinite 2s linear;
        animation-direction: alternate-reverse;
        animation-delay: 100ms;
    }
}


@keyframes iddling {
    from {
        transform: scale(1);
        bottom : 0
    }
    to {
        transform: scale(1.3);
        bottom: 100;
    }
}

@keyframes bouncing {
    from { 
        transform: translateY(0px);
    } to {
        transform: translateY(30px);
    }
}

@keyframes shrink {
    from {
        transform: scale(0.9);
    } to {
        transform: scale(0.6);
    }
}