*, *::after, *::before {
  margin : 0;
  padding : 0;
  box-sizing : border-box
}

:root {
  --main-color : #5D2057;
  --dark-color : #441E69;
  --clear-color : #612173;
  --bitcoin-color : #F99300;
}